extends layout

block content
    #main.container
        #con.jumbotron
            h4 Welcome to Media Box Powered By MRG-
            p.tit server strore images , video file for share fast
            p API Docs URL : <a href="http://apibox.co/node/mediabox/apidoc/" target="_blank">Link</a>
            p Email Support : <a href="mail:aommiez@gmail.com" target="_blank">Link</a>
            p FB Support : <a href="https://www.facebook.com/aommiez" target="_blank">MRG</a>
            p GitHub : <a href="https://github.com/aommiez/mediabox" target="_blank">https://github.com/aommiez/mediabox</a>
            p thanks.
            <hr>
            p.size15 # Server Info
            p.size15 - base url : http://apibox.co
            p.size15 - base port : 3000
            p.size15 ### Version
            p.size15 1.0.0
            p.size15 - upload muti base64 array
            p.size15 - get images custom size
            p.size15 - delete images
            p.size15 ### Tech
            p.size15 mediabox uses a number of open source projects to work properly:
            p.size15 * [node.js] - evented I/O for the backend
            p.size15 * [Express] - fast node.js network app framework
            p.size15 * [mongodb] - database

